.c-button {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:0 0;
    border:none;
    cursor:pointer;
    border-radius:4px;
    text-align:center;
    font-family:Slack-Averta,appleLogo,sans-serif;
    font-weight:700;
    line-height:1.3;
    letter-spacing:normal;
    font-size:.9rem;
    text-transform:uppercase;
    text-decoration:none;
    padding:19px 40px 20px;
    display:block;
    width:100%;
    transition:box-shadow 420ms cubic-bezier(.165,.84,.44,1),
        color 420ms cubic-bezier(.165,.84,.44,1),
        background 420ms cubic-bezier(.165,.84,.44,1)
}

.c-button.v--primary {
    background-color: #3f46ad;
    color: #fff;
    fill: #fff;
}

@media screen and (min-width:25rem) {
    .c-button {
        font-size: calc(.9rem + (-.40000000000000036 * (100vw - 400px)/ 624))
    }
}

@media screen and (min-width: 48rem) {
    .c-button {
        display: inline-block;
        white-space: nowrap;
        flex-basis: auto;
        width: auto;
    }
}

@media screen and (min-width: 64rem) {
    .c-button {
        font-size: .875rem;
    }
}