.page-home.page-home {
    padding-top: 7rem;
    padding-bottom: 0;
    text-align: center;
}

.page-home.page-home .o-hero__header__headline {
    font-weight: 400;
    line-height: 1.05;
    letter-spacing: normal;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 0;
    margin-left: 0;
}

.o-hero__header__headline, .o-hero__header__headline--larger {
    // max-width: 14em;
    margin-top: 0;
}

@media screen and (min-width: 25rem) {
    .page-home.page-home .o-hero__header__headline {
        font-size: calc(2.2rem + (41.599999999999994 * (100vw - 400px)/ 624));
    }
}

@media screen and (min-width: 64rem) {
    .page-home.page-home .o-hero__header__headline {
        font-size: 3.6rem;
    }
    .page-home.page-home {
        // padding-top: 10rem;
        padding-bottom: 1rem;
    }
    .o-hero.page-home img {
        max-width: 684px;
    }
}