.c-nav {
    width: 100%;
    padding: 0;
}

.c-nav--primary {
    padding: 0;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    z-index: 1000;
    top: 0;
    position: fixed;
}

.c-tusklelogo {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}

@media screen and (min-width: 48rem) {
    .c-nav__row {
        padding: 0 4vw;
    }
}

@media screen and (min-width: 67.8125rem) {
    .c-nav--primary {
        position: absolute;
    }
}