// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

h1 {
    font-family: 'Slabo 27px', "Times New Roman", Georgia, serif;
}